<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="logo.png">

    <title>Sistemas y Tecnologias Web</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap.min.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="/landing-page.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/estilo.css">

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>
</head>

<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand">Sistemas y tecnologías Web</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="sinatra.erb">Home</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>


    <div class="intro-header">
        <div class="container panel">
            <div class="row">
                    <div class="fondo">
                            <div class="intro message col-lg-6 col-lg-offset-3">
                            <h2>Introduzca un usuario de Twitter</h2>                            
                            </div>
				            <div class="col-lg-6 col-lg-offset-3">
				                <div >
                                    <form action="/" method="post">
                                        <input type="text" class="form-control" name="user"  value="" autofocus>
                                        <button class="boton btn btn-success">Buscar</button>
                                    </form>
				                </div>
				            </div>
                            <div class="col-lg-6 col-lg-offset-3">
                                <% if flash[:error1] %>
                                    <p class="alert alert-danger" role="alert"><%= flash[:error1] %>     
                                <% elsif flash[:error] %>
                                    <p class="alert alert-danger" role="alert"><%= flash[:error] %>     
                                <% elsif @twitter_username != ''%>
                                    <ul class ="text-success list-group">
                                        <a class="list-group-item active">Lista de amigos populares</a>
                                        <% 10.times do |i| %>
                                            <li class="list-group-item"><%= @friends[i] %></li>
                                        <% end %>
                                    </ul>
                                <%end%>
                            </div> 
                    </div>
            </div>
        </div>
    </div>
</body>

</html>
