
.panel {
            background: rgba(46, 51, 56, 0.2)!important;
    margin-top: 2.5em;
    margin-bottom: 0.5em;
    padding-left:0em;
    padding-right:0em;
    padding-bottom: 2em;
    border-left: 2em;
    border-right: 2em;
    border-top: 0em;
}

.fondo {
    position: relative;
    padding-top: 5%;
    padding-bottom: 50%;
}

.texto{
  color: white;
  font-size: large;
  font-family: helvetica;
  padding-bottom: 1em;
}

.contenido{
   border: 3px solid gray
}

.formulario{
  margin-top:2em;
  margin-bottom:2em;
}

.boton{
    margin-top: 1em;
    margin-bottom: 2em;   
}

